body{
    width: 600px;
    height: 600px;
    margin: auto;
    border: 1px solid;
    text-align: center;
}

#cadastro{
    width: 555px;
    height: 40px; 
    border: 1px solid;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

#entrada{
    width: 250px;
    height: 330px;
    float: left;
    margin: 10px;
}

#saida{
    width: 250px;
    height: 300px;
    float: right;
    text-align: center;
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

#sTimes{
    width: 270px;
    height: 325px;
}

input{
    margin-left: 15px;
}

#times{
    width: 155px;
}

#btnGerar{
    margin-top: 5px;
}

#btnExcluir{
    margin-top: 5px;
}